@font-face {
	font-family:sourcesans;
	src:url(../fuentes/sourcesans/sourcesanspro-regular.ttf);
}

@font-face {
	font-family:sourcesans-ligth;
	src:url(../fuentes/sourcesans/sourcesanspro-ligth.ttf);
}